# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
generated_plugin_registrant.dart

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserstate
*.xcuserdatad

# Android
android/.gradle/
android/app/build/
**/*.iml
*.apk
*.aar
*.keystore

# VS Code / IntelliJ / Xcode
.idea/
.vscode/
*.swp

# Firebase / secrets
firebase-debug.log
.firebase/
.env
.env.*
serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db
